.CircleBTN_wrapper button:hover {
  animation: animate 0.6s;
}

@keyframes animate {
  25% {
    transform: scale(0.8, 1.3);
  }

  50% {
    transform: scale(1.1, 0.8);
  }
}

.CircleBTN_wrapper button.expanded {
  animation: jellyEffect 0.3s ease; /* Tilføj geléeffekt-animation, når cirklen klikkes */
}

@keyframes jellyEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.CircleBTN_wrapper {
  width: 100%;
}

.CircleBTN_wrapper article {
  width: 100%;
  display: flex;
}

/* New section styling */
.Newest_section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 60vh; /* Juster dette efter behov */
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.Newest_section.fade-in {
  opacity: 1;
}

.Newest_section.expanded {
  max-height: 1000px;
}

.Navigation_wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-row-gap: 2vh;
  grid-column-gap: 2vh;
}

.Navigation_wrapper div {
  width: 100%;
  text-align: start;
}

/*article efter den første article*/
.content_article ~ .content_article {
  border: 1.5px solid var(--black);
}

.content_aside {
  border: 1.5px solid var(--black);
}

.teas_wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.teas_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 4%;
}

.teas_container article {
  width: 100%;
}

.teas_container aside {
  width: 100%;
}

@media screen and (min-width: 412px) {
  .teas_container {
    flex-direction: row;
    gap: 4%;
  }
}
/* Tablet */
@media screen and (min-width: 768px) {
  .Newest_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin-top: 50vh;
  }

  .Navigation_wrapper {
    width: 65%;
    grid-row-gap: 5vh;
    grid-column-gap: 5vh;
  }

  .Hit_me_up_wrapper,
  .Footer {
    padding: 0%;
  }

  /* Info section */
  .info_wrapper {
    justify-content: center;
  }

  /* Info section */
  .content_article,
  .content_aside {
    height: 400px;
  }
}

/* PC */
@media screen and (min-width: 1024px) {
  .Newest_section {
    margin-top: 70vh;
  }

  .info_container {
    width: 75%;
  }

  .teas_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .teas_container {
    width: 80%;
  }
}

@media screen and (min-width: 1280px) {
  .teas_container {
    width: 75%;
  }
}
