* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: var(--cream);
}

.nav-container {
  min-height: 10vh;
  width: 100%;
  background-color: var(--DarkGreen);
  overflow-x: hidden;
  transform-style: preserve-3d;
  position: sticky;
  top: 0;
}

.logo-link,
.site-logo {
  text-decoration: none;
  color: var(--OffWhite);
}

.nav-links {
  position: relative;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.nav-links.menu-open {
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hideAnimation 0.5s forwards ease;
}

.nav-links a:hover {
  color: var(--LightGreen);
}

.nav-container .nav-links a {
  animation: showAnimation 0.5s forwards ease var(--i);
}

.nav_bar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 3rem;
  padding-bottom: 6%;
}

.menu {
  max-width: 95rem;
  width: 86%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links span {
  text-decoration: none;
}

.site-logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.site-logo span {
  font-weight: 300;
}

.burger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: var(--OffWhite);
  transition: 0.5s;
  position: relative;
}

.menu-bar:before,
.menu-bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--OffWhite);
  transition: 0.5s;
}

.menu-bar:before {
  transform: translateY(-9px);
}

.menu-bar:after {
  transform: translateY(9px);
}
