.container {
  min-height: 10vh;
  width: 100%;
  background-color: var(--OffWhite);
  overflow-x: hidden;
  transform-style: preserve-3d;
  position: sticky;
  top: 0;
}

.Logo_span,
.logo {
  text-decoration: none;
  color: var(--DarkGreen);
}

.links {
  position: relative;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.links.menu-open {
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

.links a {
  text-decoration: none;
  color: var(--DarkGreen);
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hideAnimation 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
}

.container.aktiv .links a {
  animation: showAnimation 0.5s forwards ease var(--i);
}

@keyframes showAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 3rem;
  padding-bottom: 5%;
}

.menu {
  /* max-width: 95rem; */
  /* width: 86%;
  margin: 0 auto;
  padding: 0 1rem; */
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--DarkGreen);
}

.links span {
  text-decoration: none;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: var(--DarkGreen);
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--DarkGreen);
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}
