
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --light: #fffcf6;
  --black: #2d2d2d; 
  --LightGrey: #e6e6e6; 
  --cream: #f4efe6;
  --OffWhite: #ebebeb;
  --white: #fffcf6;
  --pearlJam: #eceadf;
  --sulu: #c0eb6a;
  --GhostPeber: #d3fe89;
  --DarkGreen: #233c40;
  --LightGreen: #00d37f; 
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--OffWhite);
}

